flows/flows.json
[
    {
        "id": "a490cb4b563e3faf",
        "type": "tab",
        "label": "ispindle-mqtt-ubidots-littlebock",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fa8e3c2f3159218",
        "type": "tab",
        "label": "ispindle-mqtt-littlebock-brewspy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7a90bd264380835",
        "type": "mqtt-broker",
        "name": "mosquitto-mac",
        "broker": "192.168.1.90",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9882cb140721248b",
        "type": "ubidots_out",
        "z": "a490cb4b563e3faf",
        "name": "",
        "token": "BBFF-tvWKq0c5tTYucQxY0mCFxXMYIYasjc",
        "label_device": "",
        "device_label": "MacDabou_x",
        "tier": "educational",
        "tls_checkbox": true,
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "bf0fb6917ad986ab",
        "type": "mqtt in",
        "z": "a490cb4b563e3faf",
        "name": "Ispindel001",
        "topic": "ispindel/Ispindel001/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "e7a90bd264380835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "189e3da5981418b1",
                "3055ca55823e5aa8"
            ]
        ]
    },
    {
        "id": "d1d642a53b8169ed",
        "type": "debug",
        "z": "a490cb4b563e3faf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "189e3da5981418b1",
        "type": "function",
        "z": "a490cb4b563e3faf",
        "name": "enrich_messages",
        "func": "var deviceLabel = env.get('DEVICE_NAME')\nvar label, new_payload\nvar topic_prefix = \"ispindel/\" + deviceLabel\n\nnode.log(\"Topic prefix:\" + topic_prefix)\nnode.log(\"Message topic:\" + msg.topic)\n\nswitch (msg.topic) {\n    case topic_prefix + \"/tilt\":\n      label = \"tilt\";\n      new_payload = {[label]: parseFloat(msg.payload)};\n    break;\n    \n    case topic_prefix + \"/battery\":\n      label = \"battery\";\n      new_payload = {[label]: parseFloat(msg.payload)};\n    break;\n    \n    case topic_prefix + \"/temperature\":\n      label = \"temperature\";\n      new_payload = {[label]: parseFloat(msg.payload)};\n    break;\n    \n    case topic_prefix + \"/gravity\":\n      label = \"gravity\";\n      new_payload = {[label]: parseFloat(msg.payload)};\n    break;\n    \n    case topic_prefix + \"/RSSI\":\n      label = \"RSSI\";\n      new_payload = {[label]: parseFloat(msg.payload)};\n    break;\n\n    case topic_prefix + \"/interval\":\n      label = \"interval\";\n      new_payload = {[label]: parseFloat(msg.payload)};\n    break; \n    \n    case topic_prefix + \"/temp_units\":\n      label = \"temp_units\";\n      // new_payload = {[label]: {value: msg.payload}};\n      new_payload = {[label]: {value: 1, context: {units: \"°C\"}}}\n    break;     \n}\n\n\nmsg.topic = label      \nmsg.payload = new_payload\nmsg.payload.ubidotsDeviceLabel = deviceLabel\n\n// node.log(\"Device name: \" + env.get('DEVICE_NAME'))\n\nnode.log(\"Payload: \" + JSON.stringify(new_payload))\nnode.log(\"Topic : \" + msg.topic)\n      \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "05c0f15d683d6d25"
            ]
        ]
    },
    {
        "id": "d1a744cf2741bc63",
        "type": "comment",
        "z": "a490cb4b563e3faf",
        "name": "ispindle name",
        "info": "The device name defined part of the ispindle configuration should match exactly the `DEVICE_NAME` of the topic\n\nexample:\n\nDEVICENAME=\"Ispindle001\"\n\n->\n\nTOPIC=\"ispindle/$DEVICENAME/#\"",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "05c0f15d683d6d25",
        "type": "join",
        "z": "a490cb4b563e3faf",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "5cb2a16a39de19ee"
            ]
        ]
    },
    {
        "id": "a9d9ffa86e798a29",
        "type": "mqtt out",
        "z": "a490cb4b563e3faf",
        "name": "",
        "topic": "ispindel/Ispindel001/tilt",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a90bd264380835",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "2e8bc76c70ad6df3",
        "type": "inject",
        "z": "a490cb4b563e3faf",
        "name": "tilt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tilt",
        "payload": "23.24",
        "payloadType": "num",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "a9d9ffa86e798a29"
            ]
        ]
    },
    {
        "id": "cf148097a0c4e7a4",
        "type": "mqtt out",
        "z": "a490cb4b563e3faf",
        "name": "",
        "topic": "ispindel/Ispindel001/gravity",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7a90bd264380835",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "abb5f2116cea26f5",
        "type": "inject",
        "z": "a490cb4b563e3faf",
        "name": "gravity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "gravity",
        "payload": "0.59",
        "payloadType": "num",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "cf148097a0c4e7a4"
            ]
        ]
    },
    {
        "id": "5cb2a16a39de19ee",
        "type": "function",
        "z": "a490cb4b563e3faf",
        "name": "gravity-to-sg",
        "func": "var density = 1+(msg.payload.gravity/(258.6-((msg.payload.gravity/258.2)*227.1)))\n\nnode.log(\"#### Density: \" + density)\n\nmsg.payload.density = density\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 240,
        "wires": [
            [
                "d1d642a53b8169ed",
                "9882cb140721248b"
            ]
        ]
    },
    {
        "id": "e697d9f197785ce2",
        "type": "join",
        "z": "a490cb4b563e3faf",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "f229f87756ad24aa"
            ]
        ]
    },
    {
        "id": "3055ca55823e5aa8",
        "type": "function",
        "z": "a490cb4b563e3faf",
        "name": "To littlebock",
        "func": "var deviceLabel = env.get('DEVICE_NAME')\nvar deviceID = env.get('DEVICE_ID')\nvar topic_prefix = \"ispindel/\" + deviceLabel\n\nswitch (msg.topic) {\n    \n    case topic_prefix + \"/tilt\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"name\":deviceLabel,\"ID\":deviceID,\"angle\":msg.payload};\n    break;\n\n    case topic_prefix + \"/temperature\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"temperature\":msg.payload,};\n    break;\n\n    case topic_prefix + \"/battery\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"battery\":msg.payload,};   \n    break;\n\n    case topic_prefix + \"/gravity\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"gravity\":msg.payload,};\n    break;\n\n    case topic_prefix + \"/temp_units\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"temp_units\":msg.payload,};\n    break;\n \n    case topic_prefix + \"/interval\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"interval\":msg.payload,};\n    break;    \n\n    case topic_prefix + \"/RSSI\":\n      msg.topic = \"ispindel\";\n      msg.payload = {\"RSSI\":msg.payload,};\n    break;   \n   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "e697d9f197785ce2"
            ]
        ]
    },
    {
        "id": "f229f87756ad24aa",
        "type": "change",
        "z": "a490cb4b563e3faf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "d2f22804ad0fc1fe"
            ]
        ]
    },
    {
        "id": "d2f22804ad0fc1fe",
        "type": "http request",
        "z": "a490cb4b563e3faf",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "www.littlebock.fr/api/log/ispindle/7045/2771",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 930,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "be7a25427e0208ae",
        "type": "http request",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": true,
        "url": "www.littlebock.fr/api/log/ispindle/XXXX/XXX",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "9110dca72edfab7a"
            ]
        ]
    },
    {
        "id": "662530af97f32adf",
        "type": "function",
        "z": "8fa8e3c2f3159218",
        "name": "To littlebock",
        "func": "switch (msg.topic) {\n\n    case \"ispindel/ispindel1/tilt\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"name\":\"iSpindel2\",\"ID\":4974102,\"angle\":msg.payload,};\n    break;\n\n    case \"ispindel/ispindel1/temperature\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"temperature\":msg.payload,};\n    break;\n\n    case \"ispindel/ispindel1/battery\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"battery\":msg.payload,};   \n    break;\n\n    case \"ispindel/ispindel1/gravity\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"gravity\":msg.payload,};\n    break;\n\n    case \"ispindel/ispindel1/temp_units\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"temp_units\":msg.payload,};\n    break;\n \n    case \"ispindel/ispindel1/interval\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"interval\":msg.payload,};\n    break;    \n\n    case \"ispindel/ispindel1/RSSI\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"RSSI\":msg.payload,};\n    break;   \n   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "fb12b7df33282bc0"
            ]
        ]
    },
    {
        "id": "e58b9dbfb143fe7a",
        "type": "change",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "be7a25427e0208ae"
            ]
        ]
    },
    {
        "id": "9110dca72edfab7a",
        "type": "debug",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "fb12b7df33282bc0",
        "type": "join",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "e58b9dbfb143fe7a"
            ]
        ]
    },
    {
        "id": "2b3047d04e69121e",
        "type": "function",
        "z": "8fa8e3c2f3159218",
        "name": "To BrewSpy",
        "func": "switch (msg.topic) {\n\n    case \"ispindel/ispindel1/tilt\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"name\":\"iSpindel1\",\"token\":\"LETOKENBREWSPY\",\"angle\":msg.payload,};\n    break;\n\n    case \"ispindel/ispindel1/temperature\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"temperature\":msg.payload,};\n    break;\n\n    case \"ispindel/ispindel1/battery\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"battery\":msg.payload,};   \n    break;\n\n    case \"ispindel/ispindel1/gravity\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"gravity\":msg.payload,};\n    break;\n\n    case \"ispindel/ispindel1/temp_units\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"temp_units\":msg.payload,};\n    break;\n \n    case \"ispindel/ispindel1/interval\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"interval\":msg.payload,};\n    break;    \n\n    case \"ispindel/ispindel1/RSSI\":\n    msg.topic = \"ispindel\";\n    msg.payload = {\"RSSI\":msg.payload,};\n    break;   \n   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 227,
        "y": 99,
        "wires": [
            [
                "d3e56d225de10122"
            ]
        ]
    },
    {
        "id": "ec4cfe283bb7e382",
        "type": "change",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "495f5912ad212fc7"
            ]
        ]
    },
    {
        "id": "495f5912ad212fc7",
        "type": "http request",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": true,
        "url": "www.brew-spy.com:80/api/ispindel/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "930d7742cf3e37b2"
            ]
        ]
    },
    {
        "id": "930d7742cf3e37b2",
        "type": "debug",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "d3e56d225de10122",
        "type": "join",
        "z": "8fa8e3c2f3159218",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "ec4cfe283bb7e382"
            ]
        ]
    }
]